<header>

    <div class="browserCategory">
      <span>Browse Category</span>
      <ul class="dropdown-content">
        <li>Option 1</li>
        <li>Option 2</li>
      </ul>
    </div>

	<i class="material-icons iconArrow">&#xE313;</i>

    <div class="line first"></div>

    <input type="text" placeholder="Search Book">

    <i class="material-icons iconSearch">&#xE8B6;</i>
    
    <img class="logo" src="images/logo.jpg">

    <div class="line second"></div>

    <div class="imgAvatar">

    	<img class="avatar" src="images/avatar.png">

    	<div class="notification"></div>

    </div>

    <span class="textMenu">Menu</span>

	<div id="nav-icon2">
	  <span></span>
	  <span></span>
	  <span></span>
	  <span></span>
	  <span></span>
	  <span></span>
	</div>

	<div id="menuMobile2" style="display:none">

	    <nav class="menuNavMobile" style="display:block">	

	    </nav>

	</div>

</header>