<header>

    <div class="browserCategory">
      <span>Browse Category</span>
      <div class="dropdown-content">
        <p>Hello World!</p>
      </div>
    </div>

    <div class="line"></div>

    <input type="text" placeholder="Search Book">

    <img class="logo" src="images/logo.jpg">

    <span class="textMenu">Menu</span>

	<div id="nav-icon2">
	  <span></span>
	  <span></span>
	  <span></span>
	  <span></span>
	  <span></span>
	  <span></span>
	</div>

	<div id="menuMobile2" style="display:none">

	    <nav class="menuNavMobile" style="display:block">	

	    </nav>

	</div>

</header>